* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url('../bk.jpg');
    display: flex; /* For centering the chatbot */
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    width: 100vw; /* Full viewport width */
    overflow: hidden;
}

/* Chat popup centered */
.chat-popup {
    display: block;
    position: relative; /* No need for fixed position */
    width: 80%; /* Full width */
    height: 80%; /* Full height */
    background-color: #FFDD00; /* Yellow */
    border-radius: 0; /* No rounded corners for full-page */
    box-shadow: none; /* Optional, removes shadow */
    z-index: 1000;
}

/* Header of chatbot */
.chat-header {
    background:linear-gradient(90deg,#ff33cc,#ffcc00);
    box-shadow: 0 -2px 5px rgba(0,0,0,0.2); /* Purple */
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky; /* Sticks at the top while scrolling */
    top: 0;
    font-family: 'Arial Black', sans-serif; /* Bold system font */
    font-weight: bold;
    font-size: 54px;
}

.chat-header h2 {
    font-size: 34px;
    margin: 0;
}

.close-btn {
    font-size: 24px;
    cursor: pointer;
}

/* Chat container */
.chat-container {
    height: calc(100% - 60px); /* Adjust height based on header size */
    padding: 15px;
    overflow-y: auto;
    background-color: #fff;
    box-shadow: 0px 0px 15px rgba(0,123,255,0.5);
    border-radius: 5px;
    padding: 20px;
    
}

.messages {
    display: flex;
    flex-direction: column;
}

.message {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 5px;
    max-width: 80%;
}

.user-message {
    align-self: flex-end;
    background-color: #ff33cc; /* Purple */
    color: white;
}

.bot-message {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.bot-message img {
    width: 60px; /* Size of the robot image */
    margin-right: 10px; /* Space between image and text */
}

.bot-text {
    background-color: #FFcc00; /* Yellow */
    color: #000;
    padding: 10px;
    border-radius: 5px;
}

input[type="text"] {
    width: calc(100% - 90px); /* Adjusted width to fit next to the button */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px 0;
    box-sizing: border-box;
}

button {
    padding: 10px 20px;
    background-color: #ff33cc; /* Purple */
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

button:hover {
    background-color: #ff33cc; /* Magenta background on hover */
    box-shadow: 0 4px 8px rgba(255, 0, 255, 0.5); /* Magenta shadow */
}
