body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    height: 100vh;
    overflow: hidden;
  }
  
  .top-design {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
  }
  .bottom-design{
    position: absolute;
    bottom:0;
    width: 100%;
    z-index: -1;
  }
  
  .content {
    width: 100%;
    height: 570px;
    padding: 30px;
    margin: 80px auto;
    max-width: 600px;
    background: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    text-align: center;
  }
  
  h1 {  
    font-size: 28px;
    color: #ff33cc;
    margin-bottom: 25px;
  }
  
  form label {
    display: block;
    margin: 15px 0 8px;
    font-weight: bold;
  }
  
  input, textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #ddd;
    border-radius: 15px;
    font-size: 16px;
    transition: border-color 0.3s;
  }
  
  #subject {
    height: 45px;
  }
  
  #issue {
    height: 150px;
  }
  
  input:focus, textarea:focus {
    border-color: #ff33cc;
    outline: none;
  }
  
  button {
    background: linear-gradient(45deg, #ff33cc, #ffcc00);
    color: #fff;
    border: none;
    padding: 15px 25px;
    font-size: 18px;
    border-radius: 15px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  button:hover {
    background: linear-gradient(45deg, #ffcc00, #ff33cc);
  }

  footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(to right, #ff33cc, #ffcc00);
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    z-index: 100;
    box-sizing: border-box;
  }
  
  footer button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
  }
  
  footer button img {
    width: 40px;
    height: 40px;
  }