/* General Styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
  display: flex;
  background-image: url("../di.jpg"); /* Set your background image */
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Header */
header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  padding: 20px 0;
  position: sticky;
  top: 0;
  z-index: 1000;
  height: 110px;
  box-sizing: border-box;
}

header img.logo {
  height: 90px;
  position: absolute;
  left: 20px;
}

header h1 {
  margin: 0;
  font-size: 1.5em;
  text-align: center;
  position: relative;
  background: linear-gradient(to right, #ff33cc, #ffcc00);
  font-weight: bold;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

/* Main Content */
.container {
  width: 60%;
  margin: 100px auto 50px auto;  /* Adjusted margin-top to push it down */
  background-color: #243a53;
  padding: 20px;
  box-shadow: 0 4px 15px rgba(219, 11, 115, 0.5); /* Dark pink shadow */
  text-align: center;
  border-radius: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Highlight container when hovered */
.container:hover {
  transform: translateY(-10px); /* Slightly move it up */
  box-shadow: 0 6px 25px rgba(219, 11, 115, 0.7); /* Stronger shadow on hover */
}

.container h1 {
  color: #f7f6f6;
}

.upload-section {
  margin-bottom: 20px;
}

#fileInput {
  margin-bottom: 10px;
  color: white;  /* This will set file input text to white */
}

button {
  padding: 10px 20px;
  background-color: #c504c2cf;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: #4161ff;
}

.result-section {
  font-size: 30px;
  font-weight: bold;
  color: white; /* Set the initial text color of Result to white */
}

.result-real {
  color: rgb(5, 239, 64);
}

.result-fake {
  color: red;
}

.result-unknown {
  color: rgb(205, 108, 225);
}

.processing {
  color: rgb(255, 250, 250);
}

/* Footer */
footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(to right, #ff33cc, #ffcc00);
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
  padding: 10px 0;
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 1000;
  box-sizing: border-box;
}

footer button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
}

footer button img {
  width: 40px;
  height: 40px;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .container {
    width: 80%;
  }

  button {
    width: 100%;
  }
}

@media (max-width: 480px) {
  header img.logo {
    height: 70px;
  }

  .container {
    width: 90%;
  }

  button {
    padding: 12px;
  }
}
