body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff;
}

.container {
    text-align: center;
    margin-top: 50px;
}

img {
    width: 200px;
    border-radius: 10px;
}

.text-container {
    margin-top: 20px;
}

p {
    font-size: 16px;
    color: #666;
}

button {
    background-color: #85F0F7;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}